<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.anei.cadpagesupport">

  <permission
    android:name="net.anei.cadpagesupport.permission.CONTENT_QUERY"
    android:protectionLevel="signature"/>

  <uses-permission android:name="android.permission.READ_SMS"/>
  <uses-permission android:name="android.permission.RECEIVE_SMS"/>
  <uses-permission android:name="android.permission.RECEIVE_MMS"/>

  <supports-screens android:xlargeScreens="true"/>

  <application android:allowBackup="false"
               android:icon="@drawable/ic_launcher"
               android:label="@string/app_name"
               android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <receiver android:name=".SmsReceiver">
      <intent-filter android:priority="2147483647">
        <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
      </intent-filter>
    </receiver>
    <receiver android:name=".PushReceiver">
      <intent-filter android:priority="2147483647">
        <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED"/>
        <data android:mimeType="application/vnd.wap.mms-message"/>
      </intent-filter>
    </receiver>

    <service android:name=".ContentService"
             android:exported="true"
             android:permission="net.anei.cadpagesupport.permission.CONTENT_QUERY"/>

  </application>

</manifest>